/*
|  Fixing dropdown on datatables
*/
.dropdown-toggle:after {
  margin-left: 0 !important;
}

.dropdown-item {
  cursor: pointer;
}

/*
|  Height of logo in datatables
*/
.company-logo {
  height: 32px;
  width: 32px;
}

.company-logo-medium {
  height: 100px;
  width: 100px;
  padding: 1rem;
}

/*
|  Remove input button from UI, to input is to click label
*/
#input-logo-edit {
  display: none;
}

/*
|  Set label for input size
*/
#input-logo-image {
  max-height: 100px;
  max-width: 100px;
}

#input-logo-image:hover {
  opacity: 0.5;
  cursor: pointer;
}

/*
|  Set input logo for edit modal
*/
.logo-edit {
  max-height: 100px;
  max-width: 100px;
}

.logo-edit:hover {
  opacity: 0.5;
  cursor: pointer;
}

/*
|  Fixing bootsrap not showing feedback after a fail input
*/
.invalid-feedback {
  display: block !important;
}

/*
|  Just for testing
*/
.test-button {
  background-color: pink !important;
}
