.dropdown-toggle:after {
  margin-left: 0 !important;
}

.dropdown-item {
  cursor: pointer;
}

.company-logo {
  height: 32px;
  width: 32px;
}

.company-logo-medium {
  height: 100px;
  width: 100px;
  padding: 1rem;
}

#input-logo-edit {
  display: none;
}

#input-logo-image {
  max-height: 100px;
  max-width: 100px;
}

#input-logo-image:hover {
  opacity: 0.5;
  cursor: pointer;
}

.logo-edit {
  max-height: 100px;
  max-width: 100px;
}

.logo-edit:hover {
  opacity: 0.5;
  cursor: pointer;
}

.invalid-feedback {
  display: block !important;
}

.test-button {
  background-color: pink !important;
}

